body {
    font-family: 'PT Sans', sans-serif;
}

.container {
    max-width: 1233px;
}

header {
    width: 100%;
    height: 120px;
    background-color: #3d3d3d;
    padding-top: 25px;
}

.logo {
    width: 350px;
    float: left;
}

.drop-buttons {
    float: right;
    margin-top: 25px;
}


/* general ul style */

.drop-buttons ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: relative;
}


/* first level ul style */

.drop-buttons>ul,
.drop-buttons .dropdown-inner {
    width: 100%;
    margin: 0 auto;
}

.drop-buttons>ul>li {
    display: inline-block;
    padding: 13px;
}

.drop-buttons>ul>li.d_active .drop-link,
.drop-buttons>ul>li.d_active>.drop-link:hover {
    padding: 0;
    position: relative;
}

.drop-buttons>ul>li.d_active .drop-link:after {
    content: url("../img/arrow.png");
    position: absolute;
    left: 5px;
    top: 47px;
    z-index: 20;
}


/* sub-menu */

.drop-buttons .dropdown {
    display: none;
    position: absolute;
    background: #f6f6f6;
    width: 330px;
    right: 10%;
    top: 70px;
    min-height: 100px;
    text-align: left;
}

.d_active .dropdown {
    display: block;
    z-index: 10;
}

.drop-buttons .dropdown-inner {
    padding: 0;
}

.drop-buttons .dropdown-inner>div {
    width: 100%;
    float: left;
    border: 1px solid #d9d9d9;
    padding: 0 10px;
}

.drop-text .title-news {
    float: left;
    position: absolute;
}

.drop-text .link-news {
    float: right;
}

.drop-text {
    width: 100%;
    min-height: 30px;
    background-color: #ddec45;
    font-weight: bold;
}

.drop-subtex1 {
    min-height: 47px;
    background-color: #feffeb;
    color: red;
}

.drop-subtex2 {
    min-height: 39px;
    background-color: #feffeb;
}

.drop-subtext,
.drop-subtex1,
.drop-subtex2 {
    min-height: 47px;
    padding-top: 50px;
}

.drop-subtext>div,
.drop-subtex1>div,
.drop-subtex2>div {
    margin-top: 8px;
}

.drop-subtext a,
.drop-subtex1 a,
.drop-subtex2 a {
    text-decoration: none;
    color: #333333;
    font-size: 16px;
}

@media only screen and (max-width: 768px) {
    header {
        height: 190px;
        text-align: center;
    }
    .logo {
        float: none;
        width: 100%;
    }
    .drop-buttons {
        float: none;
    }
    .drop-buttons ul {
        position: relative;
    }
    .drop-buttons .dropdown {
        position: absolute;
        background: #f6f6f6;
        width: 80%;
        top: 71px;
        min-height: 100px;
        text-align: left;
    }
}


/**/

.bluerow {
    min-height: 170px;
    background-color: #f6f6f6;
    padding-top: 31px;
}

.threebtn {
    float: left;
    margin-top: 30px;
    width: 100%;
    min-height: 100px;
}

.threebtn>a,
.onebtn>a {
    text-decoration: none;
}

.butones {
    padding-top: 15px;
    background-color: transparent;
    padding: 16px 32px;
    position: relative;
    cursor: pointer;
    top: 0;
    font-weight: bold;
    color: #585858;
}

.butones .img2 {
    position: absolute;
    top: -1px;
    right: -1px;
}

.butones .img1 {
    display: none;
    position: absolute;
}

.butones:hover .img2 {
    position: absolute;
    top: -4px;
    right: -4px;
    width: 38px;
    border-radius: 5px;
}

.butones:hover .img1 {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}

.butones:focus .img2 {
    position: absolute;
    top: -4px;
    right: -4px;
    width: 38px;
    border-radius: 5px;
}

.butones:focus .img1 {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}

button:focus {
    outline: 0 dotted;
    outline: 0 auto -webkit-focus-ring-color;
}

.btn.focus,
.btn:focus {
    outline: 0;
    box-shadow: none;
}

.button1 {
    margin-right: 20px;
    border: 1px solid #8ccbc0;
    border-radius: 7px 0 7px 7px;
    outline: 0;
    min-height: 20px;
    z-index: 1;
}

.button1:hover {
    background-color: #8ccbc0;
    color: white;
}

.button1:focus {
    background-color: #ffffff;
    color: #585858;
}

.button1:focus .img3 {
    display: block;
    z-index: 5;
    width: 30px;
}

.img3 {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
}

.button1 {
    z-index: 1;
}

.dropdown-menu {
    border-radius: 0;
    min-height: 85px;
    width: 800px;
    margin-top: -10px;
    padding: 30px 0 0 10px;
    z-index: 1;
    width: 100%;
}

.dropdown-menu li {
    display: inline-block;
    margin: 0 15px;
}

.dropdown-menu li a {
    padding-bottom: 6px;
    text-decoration: none;
    color: #7f7f7f;
    font-weight: bold;
}

.dropdown-menu li a:hover {
    border-bottom: 5px solid #9f9f9f;
}

@media only screen and (max-width: 992px) {
    .dropdown-menu li {
        display: block;
        margin: 20px;
    }
}

.button2 {
    margin-right: 20px;
    border: 1px solid #fcc22d;
    border-radius: 7px 0 7px 7px;
    position: absolute;
    top: 30px;
    left: 145px;
}

.button2:hover {
    background-color: #fcc22d;
    color: white;
}

.button3 {
    border: 1px solid #9186bc;
    border-radius: 7px 0 7px 7px;
    position: absolute;
    top: 30px;
    left: 290px;
}

.button3:hover {
    background-color: #9186bc;
    color: white;
}

.onebtn {
    float: right;
    margin-top: 30px;
    position: absolute;
    width: 250px;
    height: 60px;
    position: relative;
    border-left: 1px solid #d9d9d9;
}

.button4 {
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
    border-radius: 5px;
    float: right;
    color: #888888;
    font-weight: bold;
}

.button4:hover {
    background-color: #e7e7e7;
}


/**/


/**/

.big-blue {
    background-color: #d6e9e6;
    padding-top: 30px;
    color: #7f7f7f;
}

.big-blue h5 {
    float: left;
}

.one1 {
    margin-top: 17px;
}

.parigi {
    width: 290px;
    height: 48px;
    background-color: #f6f6f6;
    padding: 12px;
    margin-left: 0;
    margin-right: -12px;
    font-weight: bold;
}

.parigi img {
    float: left;
    margin-right: 10px;
}

.date {
    width: 290px;
    height: 48px;
    background-color: #f6f6f6;
    padding: 12px;
    position: relative;
    margin-left: -15px;
    margin-right: -15px;
}

.date img {
    float: left;
    margin-right: 10px;
}

.form-control {
    width: 80%;
    border: none;
    background-color: #f6f6f6;
    position: absolute;
    top: 5px;
    left: 40px;
}

.search {
    width: 627px;
    height: 48px;
    background-color: #f6f6f6;
    padding: 10px;
    margin-left: -30px;
    margin-right: -15px;
}

.search img {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
}

#mySearch {
    width: 80%;
    border: none;
    background-color: #f6f6f6;
}


/**/


/**/

.two2 {
    margin-top: 15px;
}

.filtri {
    width: 230px;
    height: 48px;
    background-color: #8ccbc0;
    color: white;
    padding: 12px;
    font-weight: bold;
}

.prezzo {
    text-align: left;
    padding: 15px;
    background-color: #f6f6f6;
    width: 230px;
    height: 150px;
    border-top: 1px solid #d9d9d9;
    border-left: 1px solid #8ccbc0;
    border-right: 1px solid #8ccbc0;
}

.prezzo>p {
    font-weight: bold;
}

.prezzo .prices {
    width: 100%;
    height: 100px;
    padding-left: 10px;
    padding-right: 60px;
    color: #58b0a1;
    font-weight: bold;
}

.prezzo input {
    float: right;
    width: 84px;
    margin-top: -40px;
    color: #58b0a1;
    font-weight: bold;
}

.prezzo input::placeholder {
    color: #58b0a1;
}

.categorie {
    background-color: #f6f6f6;
    width: 230px;
    padding: 12px;
    border-top: 1px solid #d9d9d9;
    border-left: 1px solid #8ccbc0;
    border-right: 1px solid #8ccbc0;
}

.categorie p {
    font-weight: bold;
}

.check {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    margin-left: 15px;
    cursor: pointer;
    font-size: 22px;
    line-height: 10px;
}

.check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}


/* Create a custom radio button */

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #ffffff;
    border: 1px solid #9f9f9f;
}

.check:hover input~.checkmark {
    background-color: #ccc;
}

.check input:checked~.checkmark {
    background-color: #8ccbc0;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.check input:checked~.checkmark:after {
    display: block;
}

.check .checkmark:after {
    padding: 12px;
    border-radius: 0;
}

.check img {
    margin: 2px;
}

.seleziona {
    width: 230px;
    background-color: #f6f6f6;
    padding: 12px;
    border-top: 1px solid #d9d9d9;
    border-left: 1px solid #8ccbc0;
    border-right: 1px solid #8ccbc0;
}

.seleziona p {
    font-weight: bold;
}

.seleziona form {
    text-align: center;
    margin-bottom: 20px;
}

.seleziona input {
    width: 170px;
    height: 30px;
}

.seleziona .cerca {
    width: 170px;
    height: 30px;
    border: none;
    background-color: #8ccbc0;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
    margin-top: 20px;
}

.cat1 .check {
    margin-bottom: 20px;
    font-size: 20px;
}

.slidecontainer {
    width: 100%;
    text-align: center;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 4px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4aa999;
    cursor: pointer;
    border: 1px solid black;
}


/**/

.col-md-2 .prices input {
    text-align: right;
    padding-right: 10px;
}


/**/

.esc {
    width: 230px;
    height: 48px;
    background-color: #8ccbc0;
    color: white;
    padding: 12px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
}

.box {
    width: 230px;
    padding: 10px;
    min-height: 130px;
    background-color: #f6f6f6;
    border-bottom: 1px solid #8ccbc0;
    border-left: 1px solid #8ccbc0;
    border-right: 1px solid #8ccbc0;
}

.box img {
    float: left;
}

.box .par {
    float: right;
    width: 65%;
    font-size: 14px;
    margin-top: -5px;
    line-height: 17px;
}

.par a {
    color: #7f7f7f;
    font-weight: bold;
}


/**/

.mapframe {
    width: auto;
    height: 226px;
}

.col-three {
    width: 230px;
    margin-left: -43px;
}

.filtri2 {
    height: 48px;
    width: 230px;
    background-color: #8ccbc0;
    padding: 13px;
    color: white;
    font-weight: bold;
}

#map {
    height: 226px;
    width: 100%;
}

.carrelo {
    width: 230px;
    height: 48px;
    background-color: #8ccbc0;
    color: white;
    font-weight: bold;
    padding: 13px;
    text-transform: uppercase;
}

.totale {
    height: 110px;
    background-color: #f6f6f6;
    padding: 25px;
    font-weight: bold;
}

.eur {
    color: #4aa999;
}

.plus {
    height: 50px;
    background-color: #f6f6f6;
    border-top: 1px solid #8ccbc0;
    padding-top: 15px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
}

.plus a {
    color: #7f7f7f;
    text-decoration: none;
}

.plus img {
    float: left;
    margin: 3px 15px 0 10px;
}

.stampa {
    height: 110px;
    background-color: #f6f6f6;
    border-top: 1px solid #8ccbc0;
    padding: 25px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: #4aa999;
}

.stampa a {
    color: #4aa999;
    text-decoration: none;
}

.col-two {
    width: 94%;
    margin-left: 29px;
}

.filtri1 {
    width: 100%;
    height: 48px;
    background-color: #8ccbc0;
    padding: 10px;
    position: relative;
}

.filtri1 p {
    text-transform: uppercase;
    font-weight: bold;
}

.ul2 {
    width: 90%;
    float: right;
    position: absolute;
    top: 10px;
    left: 70px;
}

.ul2 li {
    display: inline;
    margin: 0;
    font-size: 10px;
    padding: 0 15px;
    border-right: 2px solid;
}

.ul2 li a {
    color: #585858;
    padding: 0;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
}

.media {
    text-align: left;
    background-color: #ffffff;
    padding: 5px;
    border: 1px solid #8ccbc0;
    position: relative;
}

.mt-0 {
    width: 100%;
    text-transform: uppercase;
    color: #9f9f9f;
    font-size: 18px;
    padding-top: 5px;
    font-weight: bold;
}

.myblock {
    position: relative;
    margin-top: 9px;
}

.mybtn {
    width: 100%;
    padding-left: 235px;
    position: absolute;
    top: 160px;
}

.small-btn1,
.small-btn2,
.small-btn3 {
    width: 32px;
    height: 32px;
    background-color: #d6e9e6;
    border: 1px solid transparent;
    outline: 0;
    padding: 0;
}

.small-btn4 {
    position: absolute;
    float: right;
    right: 10px;
    border: 1px solid #afd9d2;
    background-color: #d6e9e6;
    width: 190px;
    height: 32px;
    padding: 0;
    font-weight: bold;
    color: #585858;
}

.small-btn1:focus {
    background-color: #8ccbc0;
    content: url("../img/mapon.png");
    padding: 7px;
}

.small-btn2:focus {
    background-color: #8ccbc0;
    content: url("../img/liston.png");
    padding: 0;
}

.small-btn3:focus {
    background-color: #8ccbc0;
    content: url("../img/hearton.png");
    padding: 0;
}

.small-btn4:focus {
    background-color: #8ccbc0;
}

.small-btn4:focus img {
    transform: rotate(90deg);
}

.small-btn6:focus img {
    transform: rotate(90deg);
}

.card-body {
    border-radius: 0;
    border: 1px solid #4aa999;
}

.map1 {
    height: 297px;
    width: 100%;
}

#map11 {
    height: 297px;
    width: 100%;
}

.map-body {
    padding: 0;
}

.list {
    background-color: #f6f6f6;
    padding: 5px;
}

.dis1 {
    line-height: 18px;
    font-size: 14px;
    text-align: left;
    width: 55%;
    float: left;
}

.dis1 img {
    margin-right: 10px
}

.dis1 h6 {
    color: #676767;
    font-weight: bold;
}

.small-btn4 img {
    margin-left: 25px;
}

.telefono {
    font-weight: bold;
    font-size: 16px;
    color: #585858;
    margin-right: 5px;
}

.dis2 {
    float: right;
    width: 40%;
}

.tit {
    padding: 0;
}

.title {
    height: 45px;
    padding: 10px;
    font-weight: bold;
    color: #585858;
    background-color: #f6f6f6;
}

.minicard {
    min-height: 135px;
    border-bottom: 1px solid #d9d9d9;
}

.l-left {
    height: auto;
    width: 20%;
    float: left;
}

.l-left img {
    margin: 15px;
}

.r-right {
    float: right;
    width: 72%;
    padding-right: 10px;
}

.small-btn6 {
    width: 522px;
    height: 32px;
    border: 1px solid #8ccbc0;
    background-color: #f6f6f6;
    text-align: left;
    padding: 0 0 0 5px;
    font-weight: bold;
    text-transform: uppercase;
    color: #585858;
}

.small-btn6 img {
    float: right;
    margin: 5px 10px;
}

.lan {
    border: none;
    border-bottom: 1px solid #8ccbc0;
    padding-left: 5px;
}

.lan h6 {
    font-size: 14px;
    line-height: 18px;
    color: #585858;
    font-weight: bold;
}

.links {
    height: 32px;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.links>div {
    display: inline-block;
}

.links .rred {
    width: 298px;
    height: 28px;
    font-weight: bold;
    background-color: #f0bfbf;
    font-size: 14px;
    padding: 5px 0 0 5px;
    border-radius: 0 5px 5px 0;
}

.links .rred a {
    text-decoration: none;
    color: #585858;
}

.links .er {
    width: 91px;
    height: 28px;
    border: 1px solid#c2e3de;
    border-radius: 3px;
    padding: 0 10px;
    font-weight: bold;
}

.links .buy {
    border: 1px solid#8ccbc0;
    border-radius: 3px;
}

.links .buy a {
    width: 91px;
    height: 28px;
    background-color: #8ccbc0;
    text-decoration: none;
    color: #585858;
    font-weight: bold;
    text-transform: uppercase;
    padding: 1px 9px 5px 0;
}

.links .buy img {
    margin: 2px;
}

.pagination {
    display: inline-block;
    margin-top: 0px;
    margin-left: 250px;
}

.pagination a {
    color: #848484;
    float: left;
    padding: 0 5px;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
}

.pagination a.active {
    color: #3d3d3d;
}

footer {
    height: 174px;
    padding-top: 50px;
}

.ul5 li,
.ul6 li {
    display: inline;
    margin-right: 30px;
}

.ul5 li a {
    color: #7f7f7f;
    font-weight: bold;
    text-decoration: none;
}

.ul6 li a {
    color: #7f7f7f;
    text-decoration: none;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #d6e9e6;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 50px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

a.menu-list {
    padding-top: 50px;
    padding-left: 500px;
}

.sidenav .closebtn {
    position: absolute;
    top: -40px;
    right: 70px;
    font-size: 80px;
    margin-left: 50px;
    padding: 20px;
}

.toggle {
    display: none;
}

@media only screen and (max-width: 1200px) {
    .hide1,
    .hide2 {
        display: none;
    }
    .toggle {
        display: inline;
        position: absolute;
        top: -15px;
    }
    .sidenav .hide1,
    .sidenav .hide2 {
        display: inline;
    }
    .sidenav .hide1 .esc,
    .sidenav .hide1 .box,
    .sidenav .hide1 .seleziona,
    .sidenav .hide1 .categorie,
    .sidenav .hide1 .prezzo,
    .sidenav .hide1 .filtri {
        width: 80%;
    }
    .sidenav .hide1 .box .par a {
        padding: 10px;
    }
    .col-three {
        width: 86.5%;
        padding-left: 43px;
    }
    .carrelo,
    .filtri2 {
        width: 100%;
    }
    .stampa a,
    .plus a {
        padding: 0;
    }
    .filtri1 {
        height: auto;
    }
    .small-btn6 {
        width: 100%;
    }
    .r-right {
        padding: 0;
        margin: 10px;
    }
    .parigi {
        width: 100%;
    }
    .date {
        width: 100%;
    }
    .search {
        width: 90%;
    }
    .minicard {
        padding-bottom: 10px;
    }
}

@media only screen and (max-width: 992px) {
    .plus p,
    .stampa p {
        font-size: 14px;
    }
    .par a {
        font-size: 20px;
        line-height: 18px;
        margin-top: -10px;
    }
    .par p {
        font-size: 14px;
        line-height: 15px;
    }
    .one1 {
        width: 100%;
        margin: 10px;
    }
    .parigi {
        width: 100%;
    }
    .date {
        width: 184px;
    }
    .search {
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .onebtn {
        float: left;
        margin: 20px 0;
    }
    .one1 {
        width: 100%;
        margin: 10px;
    }
    .parigi {
        width: 100%;
        margin: 2px;
    }
    .date {
        width: 100%;
        margin: 2px;
    }
    .search {
        width: 100%;
        margin: 2px;
    }
    .ul2 {
        margin-left: -10px;
        width: 87%;
    }
    .links .rred {
        width: 100%;
        margin-bottom: 5px;
        font-size: 12px;
    }
}

@media only screen and (max-width: 480px) {
    .button2 {
        left: 130px;
    }
    .button3 {
        margin-left: -20px;
        width: 30%;
    }
    .onebtn {
        margin: 0 0 10px;
    }
    .filtri1 {
        position: relative;
        height: 100px;
    }
    .ordina p {
        width: 100%;
    }
    .ul2 {
        padding: 10px;
        position: absolute;
        left: 0;
        top: 20px;
    }
    .media {
        position: relative;
        height: 290px;
    }
    .mybtn {
        width: 100%;
        padding-left: 10px;
        position: absolute;
        top: 190px;
    }
    #myGroup1 .mybtn,
    #myGroup2 .mybtn,
    #myGroup3 .mybtn {
        position: absolute;
        top: 240px;
        left: 0;
        display: inline;
    }
    .links .rred {
        width: 100%;
        margin-bottom: 5px;
        font-size: 12px;
    }
    .big-blue {}
    .centercolon {
        padding-left: 0;
    }
    .media-body p {
        font-size: 12px;
    }
    .big-blue h5 {
        font-size: 14px;
    }
    .pagination {
        margin-left: 10px;
    }
}

#map-OH {
    width: 100%;
    height: 297px;
}

#map-CA {
    width: 100%;
    height: 297px;
}

#map-UK {
    width: 100%;
    height: 297px;
}

.locat1,
.locat2,
.locat3 {
    padding: 0
}